<%= form_for :session, url: login_path, html: { class: "user-form" } do |form| %>
    <h1 class="form-title">ログイン</h1>
    <div class="form-row">
        <%= form.label :email, class: "form-label" %>
        <%= form.text_field :email, class: "form-field" %>
    </div>
    <div class="form-row">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-field" %>
    </div>
    <p class="small-green-text">パスワードを忘れた方はこちら</p>   
    <%= form.submit "ログイン", class: "form-button" %>
    <%= link_to "新規登録する方はこちら", :new_user, class: "green-link" %>
<% end %>