<tr onclick='window.location="<%= '/players/' + player.id.to_s %>"' role="link">
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p><%= player.name %></p>
    </td>
    <td>
        <p><%= player.team %></p>
    </td>
    <td>
        <p><%= player.country %></p>
    </td>
    <td>
        <p><%= player.position %></p>
    </td>
    <td>
        <p>+12</p>
    </td>
    <td>
        <% if !Watch.exists?(user_id: 1, player_id: player.id) %>
            <%= link_to player_add_path(player), method: :post, class: "watch-button scope-on" do %>
                <%= image_tag "phone" %>
            <% end %>
            <%= link_to player_add_path(player), method: :delete, class: "watch-button scope-off" do %>
                <%= image_tag "scope" %>
            <% end %>
        <% else %>
            <%= link_to player_add_path(player), method: :delete, class: "watch-button scope-off" do %>
                <%= image_tag "phone" %>
            <% end %>
            <%= link_to player_add_path(player), method: :delete, class: "watch-button scope-on" do %>
                <%= image_tag "scope" %>
            <% end %>
        <% end %>
        <p class="buy-button">
            <span><%= player.buy_price %></span>
            <br />
            購入
        </p>
        <p class="sell-button">
            <span><%= player.ask_price %></span>
            <br />
            売却
        </p>
    </td>
</tr>