<tr>
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p><%= player.name %></p>
    </td>
    <td>
        <p><%= player.team %></p>
    </td>
    <td>
        <p><%= player.country %></p>
    </td>
    <td>
        <p><%= player.position %></p>
    </td>
    <td>
        <p>+12</p>
    </td>
    <td>
        <button class="watch-button">
            <%= image_tag "scope" %>
        </button>
        <%= link_to "購入", "#", class: "buy-button modal-open" %>
        <%= link_to "売却", "#", class: "sell-button modal-open" %>
    </td>
</tr>