<tr>
    <td>
        <%= player_image(player.image_name) %>
    </td>
    <td>
        <p><%= link_to player.name, player, class: "link" %></p>
    </td>
    <td>
        <%= link_to player.team, players_path(team: player.team), class: "link" %>
    </td>
    <td>
        <p><%= player.country %></p>
    </td>
    <td>
        <p><%= link_to player.position, players_path(position: player.position), class: "link" %></p>
    </td>
    <td>
        <p><%= plus_minus_delta(player.calc_delta) %></p>
    </td>
    <td>
        <% if current_user %>
            <% if !Watch.exists?(user_id: current_user.id, player_id: player.id) %>
                <%= link_to player_add_path(player), method: :post, class: "watch-button" do %>
                    <%= image_tag "system/scope" %>
                <% end %>
            <% else %>
                <%= link_to player_add_path(player), method: :delete, class: "watch-button" do %>
                    <%= image_tag "system/scope_on" %>
                <% end %>
            <% end %>
        <% else %>

        <% end %>
        <%= link_to player, class: "buy-button" do %>
            <p><span><%= player.buy_price %></span><br />購入</p>
        <% end %>
        <%= link_to player, class: "sell-button" do %>
            <p><span><%= player.sell_price %></span><br />売却</p>
        <% end %>
    </td>
</tr>