<tr onclick='window.location="<%= '/players/' + player.id.to_s %>"' role="link">
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
            <p><%= player.name %></p>
    </td>
    <td>
        <p><%= player.team %></p>
    </td>
    <td>
        <p><%= player.country %></p>
    </td>
    <td>
        <p><%= player.position %></p>
    </td>
    <td>
        <p>+12</p>
    </td>
    <td>
        <% if !Watch.exists?(user_id: 1, player_id: player.id) %>
            <%= link_to "お気に入り", player_add_path(player), method: :post %>
        <% else %>
            <%= link_to "お気に入り解除", player_add_path(player), method: :delete %>
        <% end %>
        <button class="watch-button">
            <%= image_tag "scope" %>
        </button>
        <p class="buy-button">
            <span><%= player.buy_price %></span>
            <br />
            購入
        </p>
        <p class="sell-button">
            <span><%= player.ask_price %></span>
            <br />
            売却
        </p>
    </td>
</tr>