<tr onclick='window.location="<%= '/players/' + player.id.to_s %>"' role="link">
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p><%= player.name %></p>
    </td>
    <td>
        <p><%= player.team %></p>
    </td>
    <td>
        <p><%= player.country %></p>
    </td>
    <td>
        <p><%= player.position %></p>
    </td>
    <td>
        <p>+12</p>
    </td>
    <td>
        <% if current_user %>
            <% if !Watch.exists?(user_id: current_user.id, player_id: player.id) %>
                <%= link_to player_add_path(player), method: :post, class: "watch-button" do %>
                    <%= image_tag "phone" %>
                <% end %>
            <% else %>
                <%= link_to player_add_path(player), method: :delete, class: "watch-button" do %>
                    <%= image_tag "scope" %>
                <% end %>
            <% end %>
        <% else %>

        <% end %>
        <p class="buy-button">
            <span><%= player.buy_price %></span>
            <br />
            購入
        </p>
        <p class="sell-button">
            <span><%= player.sell_price %></span>
            <br />
            売却
        </p>
    </td>
</tr>