<tr onclick='window.location="<%= '/players/' + stock.player_id.to_s %>"' role="link">   
    <td>
        <%= player_image(stock.player.image_name) %>
    </td>
    <td>
        <p><%= stock.player.name %></p>
    </td>
    <td>
        <p><%= stock.amount %></p>
    </td>
    <td>
        <p><%= stock.player.sell_price %></p>
    </td>
    <td>
        <p><%= plus_minus_delta(stock.player.calc_delta) %></p>
    </td>
    <td>
        <%= link_to "", class: "large-sell-button" do %>
            <span>売却</span>
        <% end %>
    </td>
</tr>