<tr>   
    <% player = player_id_to_player(stock.player_id) %>
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p><%= player.name %></p>
    </td>
    <td>
        <p><%= stock.amount %></p>
    </td>
    <td>
        <p><%= stock.buy_price %></p>
    </td>
    <td>
        <p><%= player.sell_price %></p>
    </td>
    <td>
        <p><%= (player.sell_price - stock.buy_price) * stock.amount %></p>
    </td>
    <td>
        <p><%= player.calc_delta %></p>
    </td>
    <td>
        <%= link_to "", class: "large-sell-button" do %>
            <span>売却</span>
        <% end %>
    </td>
</tr>