<tr>
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p><%= player_id_to_name(stock.player_id) %></p>
    </td>
    <td>
        <p><%= stock.player_id %></p>
    </td>
    <td>
        <p><%= stock.buy_price %></p>
    </td>
    <td>
        <p>643</p>
    </td>
    <td>
        <p>+700</p>
    </td>
    <td>
        <p>+12</p>
    </td>
    <td>
        <%= link_to "", class: "large-sell-button" do %>
            <span>売却</span>
        <% end %>
    </td>
</tr>