<tr>
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p><%= sell.player_id %></p>
    </td>
    <td>
        <p><%= sell.amount %></p>
    </td>
    <td>
        <p><%= sell.buy_price %></p>
    </td>
    <td>
        <p><%= sell.sell_price %></p>
    </td>
    <td>
        <p>+700</p>
    </td>
</tr>