<tr onclick='window.location="<%= '/players/' + sell.player_id.to_s %>"' role="link">
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p><%= player_id_to_player(sell.player_id).name %></p>
    </td>
    <td>
        <p><%= sell.amount %></p>
    </td>
    <td>
        <p><%= sell.buy_price %></p>
    </td>
    <td>
        <p><%= sell.sell_price %></p>
    </td>
    <td>
        <p><%= sell.amount * (sell.sell_price - sell.buy_price) %></p>
    </td>
</tr>