<div class="user-info">
    <div class="user-header">
        <h2><%= @user.user_name %></h2>
        <p>id: qoAFhqopwhAdqplkas</p>
    </div>
    <div class="user-cell" id="user_cell_1">
        <%= image_tag "mail" %>
        <p><%= @user.email %></p>
    </div>
    <div class="user-cell" id="user_cell_2">
        <%= image_tag "mail" %>
        <p><%= @user.user_name %></p>
    </div>
    <div class="user-cell" id="user_cell_3">
        <%= image_tag "mail" %>
        <p><%= @user.phone %></p>
    </div>
    <div class="user-cell" id="user_cell_4">
        <%= image_tag "mail" %>
        <p><%= @user.birthday %></p>
    </div>
</div>
<table class="user-player-table">
    <div class="table-header">
        <p>保有している株式</p>
    </div>
    <% if @user_stock.count > 0 %>
        <%= render "users/shared/player_header" %>
        <% @user_stock.each do |stock| %>
            <%= render partial: "users/shared/player_cell", locals: { stock: stock } %>
        <% end %>
    <% else %>
        <%= render "shared/no_data" %>
    <% end %>
</table>

<table class="user-purchase-table">
    <div class="table-header">
        <p>売却履歴</p>
    </div>
    <% if @sell_histories.count > 0 %>
        <%= render "users/shared/purchase_header" %>
        <% @sell_histories.each do |sell| %>
            <%= render partial: "users/shared/purchase_cell", locals: { sell: sell } %>
        <% end %>
    <% else %>
        <%= render "shared/no_data" %>
    <% end %>
</table>

<!--
<div class="link-container">
    <%= link_to "もっと見る", "#", class: "green-link" %>
</div>
-->