<div class="header-pc">
    <div class="header-top">
        <div>
        </div>
        <div class="header-top-buttons">
            <% if logged_in? %>
                <%= link_to "ログアウト", logout_path, method: :delete, class: "white-button" %>
            <% else %>
                <%= link_to "ログイン", login_path, class: "white-button" %>
                <%= link_to "登録", :new_user, class: "green-button" %>
            <% end %>
        </div>
    </div>
    <div class="header-bottom">
        <nav>
            <div class="header-item border-right">
                <%= image_tag("chart") %>
                <%= link_to "マーケット", :players %>
            </div>
            <div class="header-item border-right">
                <%= image_tag("medal") %>
                <%= link_to "ディビデント", :dividend_index %>
            </div>
        </nav>
        <% if logged_in? %>
            <div class="header-item border-left">
                <%= image_tag("person") %>
                <%= link_to "マイページ", user_path(session[:user_id]) %>
            </div>
        <% end %>
    </div>
</div>
<div class="header-global">
    <div class="header-bar">
        <div class="navToggle">
            <span></span><span></span><span></span><span></span>
        </div>
    </div>
    <nav class="globalMenuSp">
        <ul>
            <li>
                <%= image_tag("chart") %>
                <%= link_to "マーケット", :players %>
            </li>
            <li>
                <%= image_tag("medal") %>
                <%= link_to "ディビデント", :dividend_index %>
            </li>        
            <% if logged_in? %>
                <li>
                    <%= image_tag("person") %>
                    <%= link_to "マイページ", user_path(session[:user_id]) %>
                </li>
            <% end %>
        </ul>
    </nav>
</div>
<%= javascript_pack_tag 'header' %>