<div class="header-top">
    <div>
    </div>
    <div class="header-top-buttons">
        <%= link_to "ログイン", "#", class: "white-button" %>
        <%= link_to "登録", "#", class: "green-button" %>
    </div>
</div>
<div class="header-bottom">
    <nav>
        <div class="header-item border-right">
            <%= image_tag("chart") %>
            <%= link_to "マーケット", "#" %>
        </div>
        <div class="header-item border-right">
            <%= image_tag("battle") %>
            <%= link_to "マッチベット", "#" %>
        </div>
        <div class="header-item border-right">
            <%= image_tag("medal") %>
            <%= link_to "ディビデント", "#" %>
        </div>
    </nav>

    <div class="header-item border-left">
            <%= image_tag("person") %>
            <%= link_to "マイページ", "#" %>
    </div>
</div>
