<div class="modal js-modal">
    <div class="modal-bg modal-close"></div>
    <div class="modal-content">
        <a class="modal-close" href="">
            <%= image_tag "cross" %>
        </a>
        <div class="modal-content-item">
            <%= image_tag "muroya", class: "rounded-img" %>
            <h3><%= "a" %></h3>
        </div>
        <div class="modal-content-item">
            <p>現在の買値</p>
            <p><%= "a" %></p>
        </div>
        <div class="modal-content-item">
            <p>購入株数</p>
            <p class="amount-input">670</p>
        </div>
        <div class="modal-content-item">
            <p>支払い総額</p>
            <p><%= 1 * 100 %></p>
        </div>
        <p class="small-green-text">保有ポイント: 1000000</p>
        <a class="large-button" href="">
            <p>購入する</p>
        </a>
    </div>
</div>