<div class="modal sell-modal js-modal">
    <div class="modal-bg modal-close"></div>
    <div class="modal-content">
        <%= form_tag '/sell', method: :post do %>
            <a class="modal-close" href="">
                <%= image_tag "cross" %>
            </a>
            <div class="modal-content-item">
                <%= image_tag "muroya", class: "rounded-img" %>
                <h3>
                    <%= @player.name %>
                </h3>
            </div>
            <div class="modal-content-item">
                <p>保有している株式</p>
                <div class="player-stock">
                    <% user_player_stocks(@player.id).each do |stock| %>
                        <p><span><%= stock.buy_price %></span> x <%= stock.amount %></p>
                    <% end %>
                </div>
            </div>
            <div class="modal-content-item">
                <p>現在の売値</p>
                <p><%= @player.sell_price %></p>
            </div>
            <div class="modal-content-item">
                <p>売却株数</p>
                <%= number_field_tag "amount", "0", class: "amount-input", id: "sell_amount_input" %>
            </div>
            <div class="modal-content-item">
                <p>売却総額</p>
                <p id="sell_total_amount">0</p>
            </div>
            <%= hidden_field_tag "player_id", @player.id %>
            <%= submit_tag "売却する", class: "large-button red-button" %>
        <% end %>
    </div>
</div>