<div class="modal sell-modal js-modal">
    <div class="modal-bg modal-close"></div>
    <div class="modal-content">
        <%= form_tag '/sell', method: :post do %>
            <a class="modal-close" href="">
                <%= image_tag "system/cross" %>
            </a>
            <div class="modal-content-item">
                <%= player_image(@player.image_name) %>
                <h3>
                    <%= @player.name %>
                </h3>
            </div>
            <%
            stock = user_player_stock(@player.id) 
            if stock.present?
            %>
            <div class="modal-content-item">
                <p>保有している株数</p>
                <p><%= stock.amount %></p>
            </div>
            <% else %>
            <div class="modal-content-item">
                <p>保有している株数</p>
                <p>0</p>
            </div>
            <% end %>
            <div class="modal-content-item">
                <p>現在の売値</p>
                <p><%= @player.sell_price %></p>
            </div>
            <div class="modal-content-item">
                <p>売却株数</p>
                <%= number_field_tag "amount", "0", class: "amount-input", id: "sell_amount_input" %>
            </div>
            <div class="modal-content-item">
                <p>売却総額</p>
                <p id="sell_total_amount">0</p>
            </div>
            <%= hidden_field_tag "player_id", @player.id %>
            <%= submit_tag "売却する", class: "large-button red-button", data: { confirm: '売却を確定しますか？' } %>
        <% end %>
    </div>
</div>