<div class="dividend-items">
  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>出場時間</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>時間</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>フルタイム出場</td>
          <td>2</td>
        </tr>
        <tr>
          <td>先発出場</td>
          <td>1</td>
        </tr>
        <tr>
          <td>途中出場</td>
          <td>1</td>
        </tr>
      </table>
    </div> 
  </div>
  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>チーム結果</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>結果</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>勝ち</td>
          <td>2</td>
        </tr>
        <tr>
          <td>引き分け</td>
          <td>1</td>
        </tr>
        <tr>
          <td>負け</td>
          <td>0</td>
        </tr>
      </table>
    </div> 
  </div>
  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>得点</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>ポジション</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>FWD</td>
          <td>2</td>
        </tr>
        <tr>
          <td>MID</td>
          <td>3</td>
        </tr>
        <tr>
          <td>DEF</td>
          <td>4</td>
        </tr>
        <tr>
          <td>GK</td>
          <td>5</td>
        </tr>
      </table>
    </div> 
  </div>
  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>アシスト</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>ポジション</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>FWD</td>
          <td>1</td>
        </tr>
        <tr>
          <td>MID</td>
          <td>1</td>
        </tr>
        <tr>
          <td>DEF</td>
          <td>2</td>
        </tr>
        <tr>
          <td>GK</td>
          <td>3</td>
        </tr>
      </table>
    </div> 
  </div>
  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>無失点</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>ポジション</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>FWD</td>
          <td>0</td>
        </tr>
        <tr>
          <td>MID</td>
          <td>0</td>
        </tr>
        <tr>
          <td>DEF</td>
          <td>1</td>
        </tr>
        <tr>
          <td>GK</td>
          <td>2</td>
        </tr>
      </table>
    </div> 
  </div>
</div>