<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="player-info">
    <div class="player-img">
        <%= player_image(@player.image_name) %>
    </div>
    <div class="player-header">
        <div>
            <h2><%= @player.name %></h2>
            <% if current_user %>
                <% if !Watch.exists?(user_id: current_user.id, player_id: @player.id) %>
                    <%= link_to player_add_path(@player), method: :post, class: "watch-button" do %>
                        <%= image_tag "system/scope" %>
                    <% end %>
                <% else %>
                    <%= link_to player_add_path(@player), method: :delete, class: "watch-button" do %>
                        <%= image_tag "system/scope_on" %>
                    <% end %>
                <% end %>
            <% end %>
            <p>直近24hの変動:</p><%= plus_minus_delta(@player.calc_delta) %>
        </div>
        <div>
            <%= link_to :new_user, class: "buy-button buy-modal-open" do %>
                <span><%= @player.buy_price %></span><br />購入
            <% end %>
            <%= link_to :new_user, class: "sell-button sell-modal-open" do %>
                <span><%= @player.sell_price %></span><br />売却
            <% end %>
        </div>
    </div>
    <div class="player-detail">
        <div class="player-cell" id="player_cell_1">
            <%= image_tag "system/team" %>
            <p><%= link_to @player.team, players_path(team: @player.team) %></p>
        </div>
        <div class="player-cell" id="player_cell_2">
            <%= image_tag "system/shoe" %>
            <p><%= link_to @player.position, players_path(position: @player.position) %></p>
        </div>
        <div class="player-cell" id="player_cell_3">
            <%= image_tag "system/cake" %>
            <p><%= @player.age %>歳</p>
        </div>
        <div class="player-cell" id="player_cell_4">
            <%= image_tag "system/ruler" %>
            <p><%= @player.height %>cm</p>
        </div>
        <div class="player-cell" id="player_cell_5">
            <%= image_tag "system/weight" %>
            <p><%= @player.weight %>kg</p>
        </div>
    </div>
</div>
<div id="chart_container">
    <canvas id="player_chart"></canvas>
</div>

<%= javascript_pack_tag 'chart' %>
<% if logged_in? %>
    <%= render "shared/buy_modal" %>
    <%= render "shared/sell_modal" %>
    <%= javascript_pack_tag 'modal' %>
<% end %>