<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="player-info">
    <div class="player-img">
        <%= image_tag "muroya", class: "rounded-img" %>
    </div>
    <div class="player-header">
        <div>
            <h2>室谷　成</h2>
            <button class="watch-button">
                <%= image_tag "scope" %>
            </button>
        </div>
        <div>
            <%= link_to "購入", "#", class: "buy-button" %>
            <%= link_to "売却", "#", class: "sell-button" %>
        </div>
    </div>
    <div class="player-detail">
        <div class="player-cell" id="player_cell_1">
            <%= image_tag "team" %>
            <p>FC東京</p>
        </div>
        <div class="player-cell" id="player_cell_2">
            <%= image_tag "team" %>
            <p>FC東京</p>
        </div>
        <div class="player-cell" id="player_cell_3">
            <%= image_tag "team" %>
            <p>FC東京</p>
        </div>
        <div class="player-cell" id="player_cell_4">
            <%= image_tag "team" %>
            <p>FC東京</p>
        </div>
        <div class="player-cell" id="player_cell_5">
            <%= image_tag "team" %>
            <p>FC東京</p>
        </div>
    </div>
</div>
<div id="chart_container">
    <canvas id="player_chart"></canvas>
</div>

<!-- 
TODO: Rails5にバージョンダウン or Rails6用にjsを読み込む 
-->
<%= javascript_pack_tag 'chart' %>