<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="player-info">
    <div class="player-img">
        <%= image_tag "muroya", class: "rounded-img" %>
    </div>
    <div class="player-header">
        <div>
            <h2><%= @player.name %></h2>
            <% if current_user %>
                <% if !Watch.exists?(user_id: current_user.id, player_id: @player.id) %>
                    <%= link_to player_add_path(@player), method: :post, class: "watch-button" do %>
                        <%= image_tag "phone" %>
                    <% end %>
                <% else %>
                    <%= link_to player_add_path(@player), method: :delete, class: "watch-button" do %>
                        <%= image_tag "scope" %>
                    <% end %>
                <% end %>
            <% else %>

            <% end %>
        </div>
        <div>
            <%= link_to "", class: "buy-button buy-modal-open" do %>
                <span><%= @player.buy_price %></span>
                <br />
                購入
            <% end %>
            <%= link_to "", class: "sell-button sell-modal-open" do %>
                <span><%= @player.sell_price %></span>
                <br />
                売却
            <% end %>
        </div>
    </div>
    <div class="player-detail">
        <div class="player-cell" id="player_cell_1">
            <%= image_tag "team" %>
            <p><%= @player.team %></p>
        </div>
        <div class="player-cell" id="player_cell_2">
            <%= image_tag "team" %>
            <p><%= @player.position %></p>
        </div>
        <div class="player-cell" id="player_cell_3">
            <%= image_tag "team" %>
            <p><%= @player.age %></p>
        </div>
        <div class="player-cell" id="player_cell_4">
            <%= image_tag "team" %>
            <p><%= @player.height %></p>
        </div>
        <div class="player-cell" id="player_cell_5">
            <%= image_tag "team" %>
            <p><%= @player.weight %></p>
        </div>
    </div>
</div>
<div id="chart_container">
    <canvas id="player_chart"></canvas>
</div>

<%= javascript_pack_tag 'chart' %>
<% if logged_in? %>
    <%= render "shared/buy_modal" %>
    <%= render "shared/sell_modal" %>
    <%= javascript_pack_tag 'modal' %>
<% end %>