<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <%= render "shared/header" %>
    </header>
    <div id="container">
      <% if flash[:notice] %>
        <div id="notice">
          <% if flash[:notice_title] %>
            <h3><%= flash[:notice_title] %></h3>
          <% end %>
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
      <main>
        <div>
          <%= yield %>
        </div>  
      </main>
      <aside id="sidebar">
        <%= render "shared/sidebar" %>
      </aside>
    </div>
    <footer>
      <%= render "shared/footer" %>
    </footer>
    <%= javascript_pack_tag 'notice' %>
  </body>
</html>